<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 3: Madelon: 06-Connect to Database

_Authors: Blake Cannon (DEN)_

---
MADELON is an artificial dataset, which was part of the NIPS 2003 feature selection challenge. This is a two-class classification problem with continuous input variables. The difficulty is that the problem is multivariate and highly non-linear. Among 500 attributes, only 20 are informative, the rest are noise.

### Notebook 6

This is the sixth Jupyter Notebook in a series and includes connecting to a remote database to analyze a dataset even larger than the UCI dataset.

## Import packages

In [1]:
import numpy as np
import pandas as pd

import psycopg2 as pg2

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns
sns.set_style('darkgrid')
%matplotlib inline

## Load Pickles

In [2]:
# Loading the data saved from the last notebook
X_train = np.load('./_data/X_train.npy')
y_train = np.load('./_data/y_train.npy')
X_val = np.load('./_data/X_val.npy')
y_val = np.load('./_data/y_val.npy')
X_test = np.load('./_data/X_test.npy')

## Connect to Database

In [3]:
# Connect to madelon database
con = pg2.connect(host='34.211.227.227',
                  dbname='postgres',
                  user='postgres')
cur = con.cursor()

In [4]:
# Print size (data) of madelon database
cur.execute("SELECT COUNT(*) FROM madelon;")
print(cur.fetchall())

[(200000,)]

In [5]:
# Print size (Mbytes) of madelon database
cur.execute("SELECT pg_size_pretty( pg_total_relation_size('madelon') );")
print(cur.fetchall())

[('1572 MB',)]

In [8]:
query = "SELECT '48', '64', '105', '128', '241', '323', '336', '338', '378', '442', '453', '472', '475' FROM madelon ORDER BY Random() LIMIT 6500;"
query

"SELECT '48', '64', '105', '128', '241', '323', '336', '338', '378', '442', '453', '472', '475' FROM madelon ORDER BY Random() LIMIT 6500;"

In [9]:
cur.execute(query)
db_sample = cur.fetchall()

In [10]:
db_sample_df = pd.DataFrame(db_sample)

In [ ]:
# # Download sample of dataset
# query = "SELECT * FROM madelon ORDER BY RANDOM() LIMIT 6500"
# cur.execute(query)
# db_sample = cur.fetchall()
# db_sample_df = pd.DataFrame(db_sample)

In [22]:
print(db_sample_df.shape)
print(db_sample_df.info())
db_sample_df.head()

(6500, 13)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6500 entries, 0 to 6499
Data columns (total 13 columns):
0     6500 non-null object
1     6500 non-null object
2     6500 non-null object
3     6500 non-null object
4     6500 non-null object
5     6500 non-null object
6     6500 non-null object
7     6500 non-null object
8     6500 non-null object
9     6500 non-null object
10    6500 non-null object
11    6500 non-null object
12    6500 non-null object
dtypes: object(13)
memory usage: 660.2+ KB
None

   0   1    2    3    4    5    6    7    8    9    10   11   12
0  48  64  105  128  241  323  336  338  378  442  453  472  475
1  48  64  105  128  241  323  336  338  378  442  453  472  475
2  48  64  105  128  241  323  336  338  378  442  453  472  475
3  48  64  105  128  241  323  336  338  378  442  453  472  475
4  48  64  105  128  241  323  336  338  378  442  453  472  475

In [12]:
db_sample_np = db_sample_df.as_matrix(columns=None)

In [13]:
db_sample_np

array([['48', '64', '105', ..., '453', '472', '475'],
       ['48', '64', '105', ..., '453', '472', '475'],
       ['48', '64', '105', ..., '453', '472', '475'],
       ...,
       ['48', '64', '105', ..., '453', '472', '475'],
       ['48', '64', '105', ..., '453', '472', '475'],
       ['48', '64', '105', ..., '453', '472', '475']], dtype=object)

In [17]:
# Pickle np.array
np.save('./_data/db_sample_np', db_sample_np)

In [18]:
pickle_test = np.load('./_data/db_sample_np.npy')

In [19]:
pickle_test.shape

(6500, 13)

In [20]:
pickle_test[:,-1]

array(['475', '475', '475', ..., '475', '475', '475'], dtype=object)